@{
    ViewData["Title"] = "Register Page";
}

<div class="col-md-5 d-flex align-items-center">
    <form>
        <div class="mb-3">
            <input placeholder="Name" class="form-control" style="border-color: black;" type="text" />
        </div>
        <div class="mb-3">
            <input placeholder="Email" class="form-control" style="border-color: black;" type="text" />
        </div>
        <div class="mb-3">
            <input placeholder="password" class="form-control" style="border-color: black;" type="text" />
        </div>
        <div>
            <button class="btn btn-secondary">Cancel</button>
            <button class="btn btn-success">Register</button>
        </div>
    </form>
</div>