
<div class="col-md-3 p-0">
    <div class="card p-2 bg-light mb-3 align-items-center w-75">
        <button class="btn "
                style="background-color: #0d888e;width: 8rem;font-size: 20px;color: white;">
            <i class="fa-solid fa-house"></i>HOME
        </button>
    </div>
    <div class="card p-2 bg-light mb-3 align-items-center w-75">
        <button asp-controller="atm" asp-action="account-detail" class="btn "
                style="background-color: #374f67;width: 8rem;font-size: 20px;color: white;">
            <i class="fa-solid fa-chevron-left"></i>BACK
        </button>
    </div>
    <div class="card p-2 bg-light align-items-center w-75">
        <button class="btn "
                style="background-color: #2d8cec;width: 8rem;font-size: 20px;color: white;">
            <i class="fa-solid fa-right-from-bracket"></i>LOGOUT
        </button>
    </div>
</div>